* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #15274B;
  font-family: 'Poppins';
  background: #E9EDF0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

.btn {
  width: 100px;
  height: 40px;
  display: flex;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 20px rgb(166 180 200 / 70%);
  border: none;
  cursor: pointer;
  border-radius: 10px;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.input {
  width: 100%;
  height: 60px;
  padding: 0 14px;
  background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
  box-shadow: inset -12px -12px 20px rgb(255 255 255 / 80%), inset 10px 10px 20px rgb(166 180 200 / 70%);
  border-radius: 10px;
  border: none;
  margin-top: 5px;
  font-size: 18px;
}

.input_wrapper {
  label {
    font-weight: 600;
  }
}

.error {
  color: #F40000 !important;
  position: relative;
  top: -16px;
  font-weight: 400 !important;
  font-size: 14px !important;
}

//page user-info

.user-info {
  .container {
    margin: 0 auto;
  }

  .user-info-text {
    font-size: 30px;
    font-weight: 600;
    margin-top: 25px;
    color: #00758B;
  }

  .create-user {
    margin: 20px 0;

    .create-user-btn {
      background: #00758B;
      width: 140px;

      a {
        text-decoration: none;
        color: #FFFFFF;
      }
    }
  }

  .user-info-element {
    display: flex;
    background: linear-gradient(134.17deg, #EEF0F5 60.7%, #E6E9EF 94.88%);
    box-shadow: -12px -12px 20px rgb(255 255 255 / 80%), 10px 10px 20px rgb(166 180 200 / 70%);
    border-radius: 10px;
    height: 70px;
    padding: 23px 40px 20px 37px;
    justify-content: space-between;
    margin-bottom: 10px;

    .id {
      width: 2%;
    }

    .name, .last-name {
      width: 12%;
    }

    .email {
      width: 25%;
    }

    .speciality {
      width: 8%;
    }

    .phone {
      width: 20%;
    }

    .button-block {
      display: flex;
      margin-top: -8px;
      justify-content: space-between;
      width: 20%;

      a {
        text-decoration: none;
      }

      .actions {
        align-items: center;
        display: flex;
        font-weight: 500;
      }

      .edit {
        background: #00758B;
      }

      .delete {
        background: #F40000;
      }
    }

    .user-info-block {
      display: flex;
      width: 72%;
      justify-content: space-between;
    }
  }
}

//page create-user

.create-user {
  .container {
    margin: 0 auto;
  }

  .create-user-text {
    font-size: 22px;
    font-weight: 700;
    margin: 20px 0 30px;
    color: #00758B;
  }

  .create-user-block {
    display: flex;
    width: 70%;
    flex-wrap: wrap;

    .input_wrapper {
      margin-right: 30px;
      width: 380px;
      margin-bottom: 20px;

    }

    .btn {
      font-size: 18px;
      width: 380px;
      height: 60px;
      background: #00758B;
      color: #FFFFFF;
      margin-top: 28px;
    }
  }
}

//page edit user

.edit-user {
  .container {
    margin: 0 auto;
  }

  .edit-user-text {
    font-size: 22px;
    font-weight: 600;
    margin: 20px 0 30px;
  }

  .edit-user-block {
    display: flex;
    width: 70%;
    flex-wrap: wrap;

    .input_wrapper {
      margin-right: 30px;
      width: 380px;
      margin-bottom: 20px;

    }

    .btn {
      font-size: 18px;
      width: 380px;
      height: 60px;
      background: #00758B;
      color: #FFFFFF;
      margin-top: 28px;
    }
  }
}
